<div class="banner mb-5" >
    <div class="content">
        <br><br><br>
        <br><br><br>
        <br><br>
        <h1 >The best things are here.</h1>
        <p style="text-align: center;">Shopping is one of the pursuits that a lot of people consider part of their life, while some<br>
            others do not even think of it. This comparison makes us discover people's problems with<br>
            shopping. People have shopping problems such as limited time, transportation issues,<br>
            people consider physical shopping as a waste of time, health issues, and long-distance to<br>
            shops. And the difficulty in obtaining some items. As a result, customers can get different<br>
            types of services from various service providers to achieve their targets effectively and<br>
            efficiently with new technologies. With the massive development of information<br>
            technology, many organizations provide immense service to their customers.<br>
            Therefore, people are able to do their work by using new technologies. So, with the advent<br>
            of modern technology IT related shops are emerging rapidly in order to fulfill customers<br>
            requirements. Denuwan store is a Grocery store located in Dagonna which pays immense<br>
            service to its customers.<br><br>
            
            Accordiis unable to provide efficient service
            to their customers.this shop needs an
            easy and simplest methodology to do their activities in an efficient manner to overcome
            their problems and improve store income. Then it will be useful to face business
            competitiveness in the modern world successfully.Grocery
            store system is an intelligent combined web application that helps customers shop and
            delivers the needed items quickly and safely. Basically, the project describes how can
            manage for good performance and better services for the client.</p>
        <a routerLink="" class="text-light">Buy Now  <i class="bi bi-arrow-right"></i></a>
    </div>
</div>

