<div class="container text-center mt-5 mb-5">
<h1>You are Admin </h1>

<mat-card class="text-center mb-5">
    <b><h1>Dashboard</h1></b>
</mat-card >
<br>
<mat-grid-list cols="4" rowHeight="1:1" gutterSize="20" >
    <mat-grid-tile >
        <div class="row p-5 text-center">
             <div >
                <b><h2>Products</h2><h1>13</h1></b>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile >
        <div class="row p-5 text-center">
            <div >
                <b><h2>Placed Products</h2><h1>6</h1></b>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile >
        <div class="row p-5 text-center">
            <div >
                <b><h2>Delivered Products</h2><h1>1</h1></b>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile >
        <div class="row p-5 text-center">
            <div >
                <b><h2>Customers</h2><h1>5</h1></b>
            </div>
        </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>
<br><br><br><br>
 