<div class="container mt-5">

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Search any product</mat-label>
        <input matInput
                #searchkeyword
                (keyup)="searchByKeyword(searchkeyword.value)"
                name="searchKey" 
                id="searchKey"
                placeholder="Search any product">
    </mat-form-field>


    <mat-grid-list cols="4" rowHeight="2:3" gutterSize="20">
        <mat-grid-tile *ngFor="let p of productDetails">
            <div class="row p-5">
                <div class="image-container">
                    <img class="home-page-product-image" [src]="p.productImages[0].url" alt="">
                </div>
                <div class="mt-3">
                    <p><b>{{p.productName}}</b></p>
                </div>
                <div >
                    <b>Rs. {{p.productDiscountedPrice}}</b> &nbsp; <b style="text-decoration: line-through;color: gray;"> {{p.productActualPrice}}</b>
                </div>
                <div class="mt-3 text-center">
                    <button type="button" mat-raised-button color="warn" (click)="showProductDetails(p.productId)">View</button>
                </div>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
      <br>
      <br>
      <div class="text-center mt-5" style="padding-bottom: 60px;font-size: 17px;" *ngIf="showLoadButton">
        <button type="button" mat-raised-button class="bg-warning " style="color: white;" (click)="loadMoreProduct()">
            Load more
        </button>
      </div>
</div>
